#ex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ex div img{
    height: 200px;
    margin: 10px;
}

#ex div div i{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#ex div div{
    display: flex;
    justify-content: center;
}

#addEX{
    background-color: lightgray;
    font-size: 25px;
    width: 33%;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#addEX:hover,
#addEX:focus{
    background-color: gray;
}

#popup{
    position: absolute;
    top: 150px;
    left: 33%;
    width: 34%;
    height: 400px;
    background-color: lightgray;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#popup form{
    background-color: transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popup form *{
    margin: 5px;
    font-size: 15px;
}
.next{
    display: flex;
    justify-content: space-between;
}

.next *{
    border-radius: 20px;
    padding: 10px;
    border: none;
}
.next div{
    background-color: red;

}
.next input{
    background-color: green;
}

@media (max-width: 600px){
    #popup{
        position: absolute;
        top: 150px;
        left: 5%;
        width: 90%;
    }
    #addEX{
        width: 90%;
    }
}