#addEX{
    background-color: lightgray;
    font-size: 25px;
    width: 33%;
    min-height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#addEX span{
    text-align: center;
}
#addEX:hover,
#addEX:focus{
    background-color: gray;
}

#popup{
    position: absolute;
    top: 150px;
    left: 33%;
    width: 34%;
    height: 400px;
    background-color: lightgray;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#customsvg{
    position: relative;
    margin-bottom: 10px;
    width: 210px;
    height: 210px;
}
#customsvg > div{
    position: absolute;
    top: 0;
    left: 0;
}
.colorpicker{
    width: 26px;
    height: 26px;
    position: absolute;
    opacity: 0;
    z-index: 100;
}

.customForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.customForm *{
    margin-bottom: 20px;
}

.next{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.next *{
    border-radius: 20px;
    padding: 10px;
    border: none;
}
#cancel{
    background-color: red;
    margin: 10px;

}
#approve{
    background-color: green;
    margin: 10px;
}

#LEDRings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#LEDRings div{
    margin: 10px;
}

.icons{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons i{
    margin: 10px;
}

@media (max-width: 900px){
    #popup{
        position: absolute;
        top: 150px;
        left: 20%;
        width: 60%;
    }
    #addEX{
        width: 60%;
    }
}
@media (max-width: 600px){
    #popup{
        position: absolute;
        top: 150px;
        left: 5%;
        width: 90%;
    }
    #addEX{
        width: 90%;
    }
}