<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Oefeiningen uitvoeren</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/basicStyling.css">
    <link rel="stylesheet" href="/css/execute.css">
</head>
<body>
    <header>
        <h1>Grace glove</h1>
        <h1>Oefening uitvoeren</h1>
    </header>
  <button id="connectBleButton">Verbind handschoen</button>
  
  <p> <strong><span>Verbindingsstatus: </span><span id="bleState" style="color:#d13a30;">Verbroken</span></strong></p>
  <button id="start" style="display: none;">Start</button>
  <div id="manuel">
    <h2>Hoe verbinden?</h2>
    <h3>1. Steek de handschoen in</h3>
    <img src="/img/handschoenIMG1.jpg" alt="foto handschoen">
    <img src="/img/handschoenIMG2.jpg" alt="foto handschoen ingestoken">
    <h3>2. Druk op de knop Verbind handschoen</h3>
    <p>Volgend scherm zal openen selecteer hier "ESP32".</p>
    <img src="/img/window.png" alt="window png">
    <p>De handschoen is nu verbonden klik op de knop "Start" om de reeks te starten.</p>
    <h3>3. Na afloop van de reeks</h3>
    <p>Trek de handshcoen in na verloop of vroegtijdig stoppen van een reeks.</p>
  </div>
  <p><strong><span th:text="${sequence.name}"></span> <span id="expercentage"></span></strong></p>
  <p th:text="${sequence.description}"></p>
  <img id="pic" src="" alt="">
  <h2 id="ready" style="display: none;"></h2>
  <p>Naam van de oefening: <span id="name"></span></p>
  <p>Beschrijving van de oefening: <span id="descrip"></span></p>
  <br>
  <button id="next" style="display: none;">Sla oefening over</button>
  <a th:href="@{/}">Terug naar oefeningenreeksen</a>

</body>
<script th:inline="javascript">
    // DOM Elements
    const connectButton = document.getElementById('connectBleButton');
    const onButton = document.getElementById('onButton');
    const offButton = document.getElementById('offButton');
    const latestValueSent = document.getElementById('valueSent');
    const bleStateContainer = document.getElementById('bleState');
    const timestampContainer = document.getElementById('timestamp');
    const nextButton = document.getElementById('next');
    const ready = document.getElementById('ready');
    const expercentage = document.getElementById('expercentage');
    const manuel = document.getElementById('manuel');

    //Define BLE Device Specs
    var deviceName ='ESP32';
    var bleService = '19b10000-e8f2-537e-4f6c-d104768a1214';
    var ledCharacteristic = '19b10002-e8f2-537e-4f6c-d104768a1214';
    var notificationCharacteristic = "19b10001-e8f2-537e-4f6c-d104768a1214";

    //Global Variables to Handle Bluetooth
    var bleServer;
    var bleServiceFound;
    var notificationFound;

    // Connect Button (search for BLE Devices only if BLE is available)
    connectButton.addEventListener('click', (event) => {
        if (isWebBluetoothEnabled()){
            connectToDevice();
        }
    });
    var exStrings = /*[[${exStrings}]]*/ [];
    var names = /*[[${names}]]*/ [];
    var descriptions = /*[[${descriptions}]]*/ [];
    var pictures = /*[[${pictures}]]*/ [];
    var hexCodeList = /*[[${hexCodeList}]]*/ [];
    var musicList = /*[[${musicList}]]*/ [];
    var currentIndex = 0; // Track the current index of the exercise
    function sendData() {
        // Add event listener for the next button
        nextButton.addEventListener("click", function () {
            processNextExercise();
        });
        startButton.style.display = 'none';
        manuel.style.display = 'none';

        ready.style.display = 'block';
        ready.innerHTML = "Oefening bezig";

        // Start with the first exercise
        processNextExercise();
    }

    function processNextExercise() {
        if (currentIndex < exStrings.length) {
            const pic = document.getElementById("pic");
            pic.setAttribute("src", pictures[currentIndex]);
            pic.setAttribute("alt", names[currentIndex]);
            const name = document.getElementById("name");
            name.innerHTML = names[currentIndex];
            const description = document.getElementById("descrip");
            description.innerHTML = descriptions[currentIndex];
            console.log("exercise" + " " + currentIndex);
            console.log(exStrings[currentIndex]);
            console.log(names[currentIndex]);
            console.log(descriptions[currentIndex]);
            console.log(pictures[currentIndex]);
            
            writeOnCharacteristic(exStrings[currentIndex]);
            currentIndex++;
            console.log("currentIndex " + currentIndex);
            console.log("exString" + exStrings.length);
            // If there are more exercises, wait for button press
            if (currentIndex < exStrings.length) {
                // Disable the button until the exercise is done
                nextButton.disabled = false;
                console.log("done");
            } else {
                console.log("All exercises done");
                nextButton.style.display = 'none';
            }
        }
    }

    function getRandomItem(list) {
        // Add 1 to the length to include the possibility of 'null' as an option
        var randomIndex = Math.floor(Math.random() * (list.length));
        // If the random index equals the list length, return null (or any other value representing "nothing")
        if (randomIndex === list.length) {
            return null; // You can change this to any value you prefer for "nothing"
        }
        return list[randomIndex];
    }

    function handleCharacteristicChange(event) {
        const newValueReceived = new TextDecoder().decode(event.target.value);
        console.log("Received message: ", newValueReceived);
        
        if (newValueReceived === "ExerciseDone") {
            var randomHexCode = getRandomItem(hexCodeList);
            var randomMusicList = getRandomItem(musicList);
            var resultString = "RM" + (randomMusicList || "") + "H" + (randomHexCode || "");
            writeOnCharacteristic(resultString);
            ready.innerHTML = "oefening voltooid";
            if(currentIndex == exStrings.length){
                ready.innerHTML = "Reeks voltooid trek de handschoen uit";
            }
        }
        if (newValueReceived === "RewardDone"){
            console.log("Exercise marked as done");
            if(currentIndex < exStrings.length){
                ready.innerHTML = "Oefening bezig";
            }
            processNextExercise(); // Process the next exercise            
        }
    }


    // Check if BLE is available in your Browser
    function isWebBluetoothEnabled() {
        if (!navigator.bluetooth) {
            console.log("Web Bluetooth API is not available in this browser!");
            bleStateContainer.innerHTML = "Web Bluetooth API is not available in this browser!";
            return false
        }
        console.log('Web Bluetooth API supported in this browser.');
        return true
    }

    // Connect to BLE Device and Enable Notifications
    function connectToDevice() {
        console.log("Initializing Bluetooth...");
        navigator.bluetooth.requestDevice({
            filters: [{ name: deviceName }],
            optionalServices: [bleService]
        })
        .then(device => {
            console.log('Device Selected:', device.name);
            bleStateContainer.innerHTML = "Verbonden";
            bleStateContainer.style.color = "#24af37";
            device.addEventListener('gattservicedisconnected', onDisconnected);
            return device.gatt.connect();
        })
        .then(gattServer => {
            bleServer = gattServer;
            console.log("Connected to GATT Server");
            return bleServer.getPrimaryService(bleService);
        })
        .then(service => {
            bleServiceFound = service;
            console.log("Service discovered:", service.uuid);
            return service.getCharacteristic(notificationCharacteristic);
        })
        .then(characteristic => {
            console.log("Characteristic discovered:", characteristic.uuid);
            notificationFound = characteristic;
            characteristic.addEventListener('characteristicvaluechanged', handleCharacteristicChange);
            characteristic.startNotifications();
            console.log("Notifications Started.");
            return characteristic.readValue();
        })
        .then(value => {
            console.log("Read value: ", value);
            const decodedValue = new TextDecoder().decode(value);
            console.log("Decoded value: ", decodedValue);
        })
        .catch(error => {
            console.log('Error: ', error);
        });

        startButton.style.display = 'inline-block';
        nextButton.style.display = 'inline-block';
    }

    function onDisconnected(event){
        console.log('Device Disconnected:', event.target.device.name);
        bleStateContainer.innerHTML = "Device disconnected";
        bleStateContainer.style.color = "#d13a30";

        connectToDevice();
    }

    function writeOnCharacteristic(value){
        if (bleServer && bleServer.connected) {
            bleServiceFound.getCharacteristic(ledCharacteristic)
            .then(characteristic => {
                console.log("Found the LED characteristic: ", characteristic.uuid);
                const data = new TextEncoder().encode(value);
                return characteristic.writeValue(data);
            })
            .then(() => {
                console.log("Value written to LEDcharacteristic:", value);
            })
            .catch(error => {
                console.error("Error writing to the LED characteristic: ", error);
            });
        } else {
            console.error ("Bluetooth is not connected. Cannot write to characteristic.")
            window.alert("Bluetooth is not connected. Cannot write to characteristic. \n Connect to BLE first!")
        }
        if(currentIndex < exStrings.length){
            let indexplusone = currentIndex + 1; 
            expercentage.innerHTML =  'oefening ' + indexplusone + '/' + exStrings.length;
        }
    }

    function disconnectDevice() {
        console.log("Disconnect Device.");
        if (bleServer && bleServer.connected) {
            if (notificationFound) {
                notificationFound.stopNotifications()
                    .then(() => {
                        console.log("Notifications Stopped");
                        return bleServer.disconnect();
                    })
                    .then(() => {
                        console.log("Device Disconnected");
                        bleStateContainer.innerHTML = "Device Disconnected";
                        bleStateContainer.style.color = "#d13a30";

                    })
                    .catch(error => {
                        console.log("An error occurred:", error);
                    });
            } else {
                console.log("No characteristic found to disconnect.");
            }
        } else {
            // Throw an error if Bluetooth is not connected
            console.error("Bluetooth is not connected.");
            window.alert("Bluetooth is not connected.")
        }
    }

    const startButton = document.getElementById("start");
    startButton.addEventListener('click', () => sendData());
</script>

</html>