<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oefeningenreeks beheren</title>
    <link rel="stylesheet" href="/css/basicStyling.css">
    <link rel="stylesheet" href="/css/manageExSQ.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <header>
        <h1>Grace glove</h1>
    </header>
    <nav>
        <div>
            <a th:href="@{/}" class="active"><span>Oefeningen</span></a>
            <a th:href="@{/manageLED}"><span>Beloningen</span></a>
            <a th:href="@{/managePatients}">Patiënten</a>
        </div>
        <div>
            <a th:href="@{/}"><span>Oefeningenreeks starten</span></a>
            <a th:href="@{/manageEx}"><span>Oefeningen beheren</span></a>
            <a th:href="@{/manageExSQ}" class="active"><span>Oefeningenreeks beheren</span></a>
        </div>
    </nav>

    <div id="addEX" onclick="displayPopUp()">
        <span>Oefeningenreeks toevoegen</span>
    </div>

    <div id="popup">

        <div id="exlist">
            <div th:each="exercise : ${exercises}">
                <img th:src="${exercise.picture}" th:alt="${exercise.name}">
                <p th:text="${exercise.name}"></p>
                <p th:text="${exercise.description}"></p>
            </div>
        </div>
        <form method="post" th:action="@{/addExToSQ/{id}(id=${sequence.exSQID})}" enctype="multipart/form-data">
            <p th:text="${sequence.name}"></p>
            <select name="ex" id="ex">
                <option th:each="exercise : ${exercises}" th:value="${exercise.exID}" th:text="${exercise.name}"></option>
            </select>

            <div id="newSQ">
                <div th:each="list : ${sequenceLists}">
                    <div th:with="ex=${@exerciseService.getExerciseById(list.exID)}">
                        <img th:src="${ex.picture}" th:alt="${ex.name}">
                    </div>
                    <div>
                        <a th:href="@{/deleteEXSQList/{id}(id=${list.exSQListID})}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
            </div>  
            
            <div class="next">
                <input type="submit" value="Voeg toe" id="approve">
                <a th:href="@{/manageExSQ}" id="cancel">Annuleren</a>
            </div>
        </form>

    </div>

    <script>
        function displayPopUp(){
            const div = document.getElementById("popup");
            div.style.display = "inline-block";
        }
        function hidePopUp(){
            const div = document.getElementById("popup");
            div.style.display = "none";
        }
    </script>
</body>
</html>