<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muziekjes</title>
    <link rel="stylesheet" href="/css/basicStyling.css">
    <link rel="stylesheet" href="/css/manageRWMusic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <header>
        <h1>Grace glove</h1>
    </header>
    <nav>
        <div>
            <a href="index.html"><span>Oefeningen</span></a>
            <a href="manageRWLED.html" class="active"><span>Beloningen</span></a>
            <a href="managePatients.html">Patiënten</a>
        </div>
        <div>
            <a href="manageRWLED.html"><span>LED Ring</span></a>
            <a href="manageRWMusic.html" class="active"><span>Muziekjes</span></a>
        </div>
    </nav>

    <a th:href="@{/addMusicList}" id="addEX">Muziek beloning toevoegen</a>

    <div id="addNoteButton" onclick="displayAddNote()">
        <span>Noot toevoegen</span>
    </div>

    <div id="musics">
        <div th:each="rewardMusic : ${rewardMusics}">
            <ul>
                <li th:each="rewardMusicList : ${rewardMusicLists}" th:if="${rewardMusic.rwMID == rewardMusicList.rwMID}">
                    <div th:with="matchingNote=${@noteService.getNoteById(rewardMusicList.noteID)}">
                        <span th:text="${matchingNote.note}"></span>
                    </div>
                </li>
            </ul>
            <div class="icons">
                <a th:href="@{/editNoteToList/{id}(id=${rewardMusic.rwMID})}"><i class="fa-solid fa-pen"></i></a>
                <a th:href="@{/deleteMusic/{id}(id=${rewardMusic.rwMID})}"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>

    </div>

    <div id="addNote" style="display: none;">
        <form method="post" th:action="@{/addNote}" enctype="multipart/form-data">
            <label for="note">Noot</label>
            <input type="text" name="note" id="note">
            <label for="hzValue">Frequentie</label>
            <input type="number" name="hzValue" id="hzValue">
            <div class="next">
                <input type="submit" value="Bevestigen">
                <div id="cancel" onclick="hideAddNote()">
                    Annuleren
                </div>  
            </div>
        </form>
    </div>

    <script>
        function displayPopUp(){
            const div = document.getElementById("popup");
            div.style.display = "inline-block";
        }
        function hidePopUp(){
            const div = document.getElementById("popup");
            div.style.display = "none";
        }
        function displayAddNote(){
            const div = document.getElementById("addNote");
            div.style.display = "inline-block";
        }
        function hideAddNote(){
            const div = document.getElementById("addNote");
            div.style.display = "none";           
        }
    </script>
</body>
</html>